.display {
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-collapse: collapse;
}

.display:first-of-type {
    border-right: 0px;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.component {
    border: 1px solid black;
}

.app-container {
    width: 65%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
}

.search-component {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid black;
}

.search-description {
    margin-bottom: 5px;
}

.loading {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 95%;
    float: right;
    border-radius: 0px;
}

.search-button {
    width: 5%;
    border-radius: 0px;
}

.movieItem {
    overflow-wrap: break-word;
}

.close-icon {
    float: right;
}

.close-icon:hover {
    cursor: pointer;
}

.alert-text {
    display: inline;
}

header {
    border: 1px solid black;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.about-container {
    width: 60%;
}